<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".ReminderAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".SnoozeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.melhoreapp.core.scheduling.SNOOZE_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CompletionCheckReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.melhoreapp.core.scheduling.COMPLETE_REMINDER" />
                <action android:name="com.melhoreapp.core.scheduling.SNOOZE_REMINDER_FROM_COMPLETION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".RoutineSkipReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.melhoreapp.core.scheduling.SKIP_ROUTINE_DAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".TaskCheckupReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.melhoreapp.core.scheduling.DONE_TASK" />
                <action android:name="com.melhoreapp.core.scheduling.CONTINUE_TASK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
